.bg-own {
  background-color: rgba(#1C9BEF, var(--bs-bg-opacity)) !important;
}

.bg-other {
  background-color: rgba(#2F3336, var(--bs-bg-opacity)) !important;
}

.bg-message {
  background-color: rgba(#202327, var(--bs-bg-opacity)) !important;
}

.modal-backdrop {
  background-color: #242D35;
  opacity: 0.8;
}