.btn-tweet {
  background-color: #1d9bf0;
  --bs-btn-hover-bg: #1d9cf0d3;
}


.btn-next-disable,
.btn-next-disable:hover {
  background-color: #777A7A;
}

.btn-next-enable,
.btn-next-enable:hover {
  background-color: #D7DBDC;
}

.file-upload-label {
  display: inline-block;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 100%;
  opacity: 70%;
}

.file-upload-label:hover {
  background-color: #0056b3;
}

.tweet-image-label {
  display: inline-block;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 100%;
  opacity: 70%;
}

.tweet-image-label:hover {
  background-color: rgb(0, 20, 40);
}

.tweet-image-label:active {
  background-color: rgb(0, 40, 80);
}

.tweet-image-clear:hover {
  background-color: rgb(40, 40, 40) !important;
}

.tweet-image-clear:active {
  background-color: rgb(80, 80, 80) !important;
}

.favorited {
  color: rgb(249,25,127) !important;
}

.retweeted {
  color: rgb(0,186,124) !important;
}

.bookmarked {
  color: rgb(28, 155, 239) !important;
}