.ms-7 {
  margin-left: 7rem !important;
}

.ms-9 {
  margin-left: 9rem !important;
}

.mb-08em {
  margin-bottom: 0.8em !important;
}

.me-9 {
  margin-right: 9rem !important;
}

.mt-25 {
  margin-top: 0.75rem !important;
}

.ms-col-35 {
  margin-left: 29.166667%;
}

.mt-header-image {
  margin-top: 200px;
}

.mt-header-avatar-image {
  margin-top: 260px;
}

.minus-mt-4 {
  margin-top: -4rem !important;
}
.minus-mt-8 {
  margin-top: -8rem !important;
}