.top-header-bottom {
  top: 4rem !important;
}

.position-profile-avatar {
  position: relative;
  top: -4rem;
  left: 20px;
}

.position-header-edit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
}

.position-avatar-edit {
  position: absolute;
  transform: translateX(-50%) translateY(-50%) !important;
  top: 50%;
  left: 50%;
}

.position-tweet-image-clear {
  position: absolute;
  top: 3%;
  left: 92%;
}

.position-absolute-bottom {
  position: fixed;
  bottom: 0;
  z-index: 1030;
}