.selected-100 {
  text-decoration: underline #1da1f2;
  text-underline-offset: 100%;
  text-decoration-thickness: 4px;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.selected-50 {
  text-decoration: underline #1da1f2;
  text-underline-offset: 50%;
  text-decoration-thickness: 4px;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.selected-sidemenu {
  font-size: 1.6rem;
  font-weight: bold;
}

.selected-message-room {
  background-color: rgba(#202327, var(--bs-bg-opacity)) !important;
}