.w-15 {
  width: 15%;
}

.w-40 {
  width: 40%;
}

.w-17em {
  width: 17em;
}

.w-inherit {
  width: inherit;
}

.w-center-content {
  width: 37.5%;
}

.w-fit-content {
  width: fit-content !important;
}