.w-15 {
  width: 15%;
}

.w-40 {
  width: 40%;
}

.w-70 {
  width: 70%;
}

.w-17em {
  width: 17em;
}

.w-inherit {
  width: inherit;
}

.w-center-content {
  width: 37.5%;
}

.w-center-content-message {
  width: 29.166667%;
}

.w-fit-content {
  width: fit-content !important;
}

.mw-75 {
  max-width: 75% !important;
}